h1 {
  padding-top: 5%;
}

div.column1, div.column2, div.column3 {
  float: left;
  width: 33.33%;
  margin: 0.1%;
}

div.column1, div.column3 {
  color: white
}

body {
  background-color: #e1e6e7;
}
